# Create a service account in the GCE dashboard for your project.
# See http://docs.ansible.com/ansible/latest/guide_gce.html
# A email address will be generated, and you can also download
# a json file with credentials. The path to this file should be
# specified below. The path can be absolute, or relative to the
# playbook yaml.
# The service account should be given "Compute Admin" and
# "Service Account Actor" permissions.
service_account_email: jepsen@jepsen-123456.iam.gserviceaccount.com
credentials_file: jepsen-credentials.json
project_id: jepsen-123456
